
<section>
    <img [src]="home" alt="first slide" style="display: block; width: 100%;">
</section>

<!-- <section class="container">
    <div class="row">
        <div class="col-8 col-md-4" *ngFor="let img of homeImgs">
            <div class="m-2 border border-primary" >
                <img class="img-fluid" [src]="img">
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 col-md-4" >
            <div class="m-2 border border-primary" >
                <button class="text-primary" routerLink=""></button>
                <button class="text-primary" routerLink=""></button>
                <button class="text-primary" routerLink=""></button>
            </div>
        </div>
    </div>
</section> -->