<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Transaction type</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      WithDraw
                    </div>
                  </div>  
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Transaction Id</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{transactionData._id}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Balance transfered</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{transactionData.value}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">To</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{transactionData.to}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">ExecutedOn</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{transactionData.executedOn}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
