<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
        </li>
  
        <ng-container *ngIf="!_global.isAuthAdmin">
        <li class="nav-item ">
          <a class="nav-link" routerLink="admin/register">Register</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="admin">Login</a>
        </li>
      </ng-container>
  
      <ng-container *ngIf="_global.isAuthAdmin">
        <li class="nav-item">
          <a class="nav-link" routerLink="admin/profile"> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="adminact/add">add </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="adminact/showAll">showAll </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="adminact/showUserDetails">showUserDetails </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="adminact/delete">delete </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ng-container>
      </ul>
    </div>
  </nav>
  
