<section class="vh-50 bg-image" >
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-50 mt-3">
        <div class="row d-flex justify-content-center align-items-center h-50">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Deposite into your account</h2>
  
                <form [formGroup]="depositeForm" (ngSubmit)="deposite()">
                  <div class="form-outline mb-4">
                    <input class="form-control" placeholder="Balance" formControlName="value"/>
                    <div class="alert alert-danger mt-3" *ngIf="value?.invalid && ( value?.dirty ||value?.touched)">
                        <p *ngIf="value?.errors?.required"> * balance is required </p>
                        <p *ngIf="value?.errors?.min"> *min balance to Deposite 1000 </p>
                        <p *ngIf="value?.errors?.max"> *max balance to Deposite 50 000 </p>
                    </div>
                  </div>
  
  
                  <div class="d-flex justify-content-center mt-5">
                    <button class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Deposite</button>
                  </div>

                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
